.vscode
**/__pycache__/
logs/*
experiments/logs
!logs/.gitkeep
poison_data/*
hidden_states/*
learning_curve/*
models/*
.vscode/
*.egg-info/
eggs/
.eggs/
*.egg
**.egg
build/
_build/
**/build/
outputs/
log.txt
examples/
hyperopt/
*.ckpt
datasets/* 
!datasets/*.sh
datasets/SentimentAnalysis
data
test.sh
.idea
*/.idea
.DS_Store
*/.DS_Store
openbackdoor/attackers/poisoners/bible
#english-left3words-distsim.tagger
#stanford-postagger.jar
test.py
test_visualize.py
test_config.json
save
mlruns
visualizaition/*
docs/*

bert-base-uncased/
gpt2/